<settings>
  <profiles>
    <profile>
      <id>default</id>
      <repositories>
        <repository>
          <id>codehaus</id>
          <url>http://repository.codehaus.org</url>
      </repository>
      <repository>
        <id>maven.java.net</id>
        <url>https://maven.java.net/content/repositories/releases/</url>
      </repository>
    </repositories>
  </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>default</activeProfile>
  </activeProfiles>
</settings>  